
/**
* Style de la partie des Lists
*/

#lists {
	position: relative;
}

#lists span {
	vertical-align: middle;
}

#lists .name {
	font-size: 30px;
}

#lists .btn-delete {
	vertical-align: middle;
	position : absolute;
	right : 15px;
	bottom : 15px;
}

/**
* Style pour les Taches
*/

#tasks .checked input {
	display: none;
}

#tasks .checked .tick {
	background-color: #fff;
	border: 2px, solid #bdc3c7;
	width : 4px;
	height: 4px;
	display: inline-block;
}

#tasks ul {
	list-style-type: none;
}

#tasks > ul > li {
	position: relative;
}

#tasks > ul > li > button {
	float: left;
	margin-top: 15px;
}

#tasks > ul > li > .task {
	display : inline-block;
	position : relative;
	left : 40px;
	margin-right: 15px;
}

#tasks .task-user {
	padding-left: 20px;
}

#tasks .task-user .glyphicon {
	margin-right: 10px;
}

#tasks .quantity {
	position : absolute;
	right : 15px;
	top : 20px;
	width: 230px;
}

#tasks .quantity div{
	display : inline-block;
	width: 150px;
	position : relative;
}

#tasks .quantity span{
	display : inline-block;
	position : absolute;
	padding-left: 15px;
}

.dropdown .dropdown-menu:after {
    left: auto;
    right: 13px;
}

.dropdown .dropdown-menu {
    left: auto;
    right: 0;
}