
/**
* Style de la partie des Lists
*/

#lists {
	position: relative;
}

#lists span {
	vertical-align: middle;
}

#lists .name {
	font-size: 30px;
}

#lists .btn-delete {
	vertical-align: middle;
	position : absolute;
	right : 15px;
	bottom : 15px;
}

/**
* Style pour les Taches
*/

#tasks ul {
	list-style-type: none;
}

#tasks > ul > li {
	position: relative;
}

#tasks > ul > li > button {
	float: left;

	display: table-cell;
	vertical-align: middle;
}

#tasks > ul > li > .task {
	display : inline-block;
	position : relative;
	left : 40px;
}

#tasks .task-user {
	padding-left: 20px;
}

#tasks .task-user .glyphicon {
	margin-right: 10px;
}